<footer class="site-footer">

  <div class="site-copy">&copy; {{ site.time | date: '%Y' }}<span class="site-author">{{ site.author }}</span></div>

  <div class="site-links">
    <div class="site-contact">
      <ul>
	{% if site.gitlab_project %}
        <li><a target="_blank" rel="external" href="https://gitlab.com/{{ site.gitlab_username }}/{{ site.gitlab_project }}">Source</a></li>
        {% endif %}

        {% if site.gitlab_username %}
        <li><a target="_blank" rel="external" href="https://gitlab.com/{{ site.gitlab_username }}">GitLab</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="external" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="site-source">
      
      <ul>
        <li>Maintained by the <a target="_blank" href="https://gitlab.com/groups/ilug-bom/group_members/">ILUG-BOM</a> community.</li>
      </ul>
    </div>
  </div>

</footer>
<!-- site-footer -->

{% if page.syntax %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
{% endif %}

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','{{ site.baseurl }}/assets/js/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
