---
layout: default
---
<article class="page">

  {% if page.subtitle %}
  <header class="page-header">
    <h2 class="page-title">{{ page.subtitle }}</h2>
  </header>
  {% endif %}

  <div class="page-content">
    {{ content }}
  </div>

</article>
